:root {
    --font__general: 'Montserrat', sans-serif;
    --font__title: "Segoe Script", sans-serif;
    --transition: .3s ease-in-out;

    --color_black: #1B1919;
    --color_white: #F6F6F6;
    --color_white-200: #F2F2F2;
    --color_accent: #E4C9AC;
    --color_accent-200: #FAF0E6;
    --color_green: #8CB788;
    --color_grey: #C6C6C6;
}