mixin product-card(imagePath = "/assets/images/pics/col/1.jpg", title = "Глиняна ваза. Колекція “Etna”", cardClass)
    .product-card(class=cardClass)
        a(href="product.html").product-card__img-wr 
            .product-card__img.product-card__main-img 
                picture 
                    img(src=imagePath, alt="", loading="lazy")
            .product-card__img.product-card__odd-img
                picture 
                    img(src="./assets/images/pics/col/2.jpg", alt="", loading="lazy")
        //- product-card__img-wr 
        .product-card__info
            .product-card__heading 
                a(href="product.html").product-card__title= title
                p.product-card__price 2000₴
            .product-card__status.product-card__status--pos В наявності
            a(href="product.html").btn.btn--icon.btn--border_accent.product-card__btn
                .btn__content
                    +icon('basket')
                    | Замовити 
        //- product-card__info
    //- product-card 