section.about.section--pt_S.section--pb_XS 
    .container.about__container 
        .about__main-block
            h2.section-title.about__title Про нас
            .about__descr 
                p Ми в Irman віримо, що кожен дім заслуговує на нотку індивідуальності та тепла. Наша місія полягає в тому, щоб перетворити звичайні простори на надзвичайні святині за допомогою унікальних предметів декору ручної роботи.
            .about__img.about__img--main
                picture 
                    img(src="./assets/images/pics/about/1.jpg", alt="", loading="lazy")
        //- about__main-block

        .about__text-img 
            .about__img 
                picture 
                    img(src="./assets/images/pics/about/2.jpg", alt="", loading="lazy")
            //- about__img 
            p.about__txt Наш шлях почався з простої ідеї: створювати красиві предмети декору ручної роботи, які відображають унікальність кожної окремої оселі. Ми розуміємо, що предметам масового виробництва часто бракує особистого підходу.
        //- about__text-img

        .about__small-img-txt 
            .about__img.about__img--small 
                picture 
                    img(src="./assets/images/pics/about/3.jpg", alt="", loading="lazy")
            //- about__img 
            p.about__txt Саме це робить дім по-справжньому домашнім. Тому ми зосереджуємося на створенні кожного виробу з турботою, увагою до деталей та пристрастю до дизайну.
        //- about__small-img-txt 

    //- about__img-row   
