section.cart-page.section--pb_M 
    .container.cart-page__container 
        .cart-page__inner 
            h2.section-title.cart-heading__title Кошик
            .cart-items.cart-page__items 
                .cart-items__list
                    +cart-item('./assets/images/cart1.jpg', 'inline', 'cart-items__item')
                    +cart-item('./assets/images/cart2.jpg', 'inline', 'cart-items__item')
                //- cart-items__list
            //- cart-items 
            .cart-page__footer.cart-footer
                .cart-footer__total-price
                    .cart-footer__title Загальна сума
                    .cart-footer__val 3 800₴
                //- cart-footer__total-price
                .cart-footer__btns.cart-footer__btns--dir_inline
                    a(href="/shop.html").btn.btn--border_accent.cart-footer__continue-btn Продовжити покупки
                    a(href="/checkout.html").btn.btn--full_accent.cart-footer__checkout-btn Оформити замовлення
            //- cart-footer 
        //- cart-page__inner 
    //- container
//- cart-page