section.catalogue.section--pt_S.section--pb_S
    .catalogue__tabs 
        .swiper.tabs
            .swiper-wrapper.tabs__list
                button.btn.tabs__item.swiper-slide.active(data-tab="all") Всі товари
                button.btn.tabs__item.swiper-slide(data-tab="vases") Вази
                button.btn.tabs__item.swiper-slide(data-tab="carpet") Килими
                button.btn.tabs__item.swiper-slide(data-tab="collection") Колекції
                .tabs__toggler
        //- tabs 
    .container 
        .grid.grid--col_2-4.grid--gap_16-24.catalogue__products 
            +product-card('/assets/images/products/'+1+'.jpg', "Глиняна ваза. Колекція “Etna”")
            +product-card('/assets/images/products/'+2+'.jpg', "Глиняна ваза. Колекція “Etna” Глиняна ваза. Колекція “Etna”")
            +product-card('/assets/images/products/'+3+'.jpg', "Глиняна ваза. Колекція “Etna”")
            +product-card('/assets/images/products/'+4+'.jpg', "Глиняна ваза. Колекція “Etna” Глиняна ваза. Колекція “Etna”")
            +product-card('/assets/images/products/'+5+'.jpg', "Глиняна ваза. Колекція “Etna” Глиняна ваза. Колекція “Etna”")
            +product-card('/assets/images/products/'+6+'.jpg', "Килим")
            +product-card('/assets/images/products/'+7+'.jpg', "Картина")
            +product-card('/assets/images/products/'+8+'.jpg', "Глиняна ваза. Колекція “Etna”")
        //- grid
        a(href="shop.html").btn.btn-def-link.btn-def-link__black.catalogue__load-more Показати більше
    //- container
//- catalogue

