section.catalogue 
    .container 
        .catalogue__tabs.tabs 
            button.btn.tab__item Всі товари
            button.btn.tab__item Вази
            button.btn.tab__item Килими
            button.btn.tab__item Колекції
        //- tabs

        .grid.grid--col_2-4.grid--gap_16-24.catalogue__products 
            - for (var i = 0; i < 8; i++)
                +product-card()
        //- grid
        a(href="/").btn.btn-def-link.btn-def-link__black.catalogue__load-more Показати більше
    //- container
//- catalogue

