section.catalogue
    .catalogue__tabs 
        .swiper.tabs
            .swiper-wrapper.tabs__list
                button.btn.tabs__item.swiper-slide.active(data-tab="all") Всі товари
                button.btn.tabs__item.swiper-slide(data-tab="vases") Вази
                button.btn.tabs__item.swiper-slide(data-tab="carpet") Килими
                button.btn.tabs__item.swiper-slide(data-tab="collection") Колекції
                .tabs__toggler
        //- tabs 
    .container 
        .grid.grid--col_2-4.grid--gap_16-24.catalogue__products 
            - for (var i = 0; i < 8; i++)
                +product-card()
        //- grid
        a(href="/").btn.btn-def-link.btn-def-link__black.catalogue__load-more Показати більше
    //- container
//- catalogue

