.related.section--pt_S.section--pb_M 
    .container.related__container 
        h2.section-title.related__title Схожі товари
        .swiper.related__swiper 
            .swiper-wrapper 
                - for (var i = 0; i < 4; i++)
                    +product-card(undefined, undefined, 'swiper-slide')
            .swiper-pagination.slider-pagination.related__pagination