section.three-col.section--pt_XS.section--pb_M
    .container.three-col__container
        .three-col__left-img.three-col__img
            picture 
                img(src="./assets/images/pics/col/1.jpg", alt="")
        //- three-col-img__left-img
        .three-col__text-block 
            h2.section-title.three-col__title Чому варто обирати 
                strong ручну 
                | роботу?    
            .three-col__txt
                h5 Унікальність і якість
                p Кожен виріб, створений вручну, має свою неповторну історію. Майстри вкладають свою пристрасть та досвід у кожен етап виробництва, що гарантує високу якість та увагу до деталей. Ви отримуєте продукт, що не має аналогів, і який відображає індивідуальність майстра.
                h5 Творчість і креативність
                p Ручна робота — це світ, де немає меж для креативності. Майстри постійно експериментують з новими техніками та матеріалами, створюючи інноваційні та оригінальні вироби. Ви отримуєте не просто продукт, а мистецтво, яке відображає індивідуальність і бачення автора.
                h5 Емоційна цінність
                p Ручна робота несе в собі тепло і душу творця. Кожен виріб створений з любов'ю та увагою, що робить його особливо цінним. Це не просто річ, а щось, що здатне передати емоції та стати улюбленим подарунком для вас і ваших близьких.
            //- three-col__txt
        //- three-col__text-block 
        .three-col__img.three-col__right-img
            picture 
                    img(src="./assets/images/pics/col/2.jpg", alt="")
    //- ontainer