extends template/main

block variables
	- var title = 'Web site'

block content
	.breadcrumbs.container 
		.breadcrumbs__list 
			li.breadcrumbs__item.breadcrumbs__item--link
				a(href="/")  Головна
			li.breadcrumbs__item Умови доставки
	.text-content 
		.container.text-content__container
			.text-content__text 
				h5 Доставка по Україні:
				ul 
					li Замовлення відправляються через Нову Пошту. 
					li Термін доставки складає 1-3 робочі дні.
				h5 Важлива інформація:
				ul 
					li Обробка замовлень займає до 2 робочих днів з моменту підтвердження замовлення.
					li Після відправки замовлення, ми надішлемо вам номер для відстеження, щоб ви могли слідкувати за статусом доставки.
					li Всі товари ретельно пакуються, щоб забезпечити їх безпечну доставку.
					li Якщо товар був пошкоджений під час доставки або не відповідає опису, будь ласка, зв'яжіться з нами протягом 14 днів з моменту отримання для вирішення питання.
				p Ми завжди намагаємося зробити доставку максимально зручною і швидкою для наших клієнтів. Якщо у вас виникли питання або потрібна додаткова інформація, будь ласка, зв'яжіться з нами.