.about {
    font-size: 3.9vw;
    color: var(--color_black);
    line-height: 1.5;

    &__container, &__small-img-txt, &__text-img {
        display: flex;
        flex-direction: column;
        gap: 4.44vw;
    }

    p {
        margin: 0;
    }

    &__main-block {
        display: flex;
        flex-direction: column;
    }

    &__descr {
        order: 1;
        margin-top: 4.44vw;
    }

    &__title {
        margin-bottom: 6.67vw;
    }

    &__img {
        width: 100%;
        overflow: hidden;

        img {
            @include cover-image;
        }

        &--main {
            border-radius: 2.4rem 2.4rem 0 0;
        }
    }
}
// End inner

@include media-M {
    .about {
        font-size: 2.2vw;

        &__container, &__small-img-txt, &__text-img, &__main-block {
            gap: 2.5vw;
        }

        &__main-block, &__small-img-txt, &__text-img  {
            display: grid;
            align-items: center;
            grid-template-columns: repeat(2, 1fr);
        }

        &__text-img  {
            .about__img {
                order: 2;
            }

            .about__txt {
                order: 1;
            }
        }

        &__title {
            margin-bottom: 3.75vw;
            grid-column: span 2;
        }
    
        &__descr {
            margin-top: 2.5vw;
        }

    }
    // End inner
}
// End M

@include media-L {
    .about {
        font-size: 1.46vw;
        
        &__container {
            flex-direction: row;
            gap: 1.6vw;
            // align-items: flex-end;
        }

        &__small-img-txt, &__text-img, &__main-block {
            display: flex;
            flex-direction: column;
        }

        &__small-img-txt, &__text-img {
            gap: 2.5vw;
        }
    
        &__main-block {
            gap: 0;
            align-items: flex-start;
            width: 35.15%;
            flex-shrink: 0;
        }

        &__text-img {
            width: 33%;
            flex-direction: column-reverse;
        }

        &__small-img-txt {
            width: 33.12%;
        }
    
        &__title {
            margin-bottom: 2.5vw;
        }
    
        &__descr {
            order: initial;
            margin-top: 0;
            margin-bottom: 3.33vw;
        }

        &__img {
            &--main {
                border-radius: 2.4rem 0 0 0;
            }

            &--small {
                border-radius:  0 2.4rem 0 0;
            }
        }
    }
    // End inner
}
// End L

@include media-XL {
    .about {
        font-size: .97vw;

        &__container {
            align-items: flex-end;
        }
        
        &__container, &__small-img-txt, &__text-img  {
            gap: 1.67vw;
        }

        &__small-img-txt, &__text-img {
            height: 42vw;
        }

        &__text-img {
            width: 27.9%;
        }
    
        &__title {
            margin-bottom: 1.67vw;
        }
    
        &__descr {
            margin-bottom: 2.22vw;
        }
    }
    // End inner
}
// End XL

// @include media-XXL {
//     .about {
//         padding-block: 2.6vw;
//         font-size: .73vw;

//         &__container {
//             align-items: flex-start;
//         }

//         &__container, &__small-img-txt, &__text-img  {
//             gap: 1.25vw;
//         }
    
//         &__title {
//             margin-bottom: 1.25vw;
//         }
    
//         &__descr {
//             margin-bottom: 1.67vw;
//         }
    
//         &__small-img-txt, &__text-img {
//             height: auto;
//             margin-top: 8.2vw;
//         }
//     }
//     // End inner
// }
// // End XXL