.product-page {
    padding-bottom: 11.11vw;

    &__container {
        display: flex;
        flex-direction: column;
        gap: 6.3vw;
    }

    &__title {
        font-weight: 500;
        line-height: 1.2;
        font-size: 5.56vw;
    }
}
// End inner

@include media-M {
    .product-page {
        padding-bottom: 6.25vw;

        &__container {
            gap: 3.75vw;
        }

        &__title {
            font-size: 3.12vw;
        }
    }
    // End inner
}
// End M

@include media-L {
    .product-page {
        padding-bottom: 10.4vw;

        &__container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap:  0 2.5vw;
        }
        
        &__title {
            font-size: 2.08vw;
            grid-column: 2 / 3;
            height: max-content;
        }
    
        &__slider {
            grid-row: 1 / 4;
            height: max-content;
            position: sticky;
            top: 2rem;
        }
    }
    // End inner
}
// End L

@include media-XL {
    .product-page {
        padding-bottom: 6.94vw;
        &__container {
            gap:  0 1.67vw;
            grid-template-columns: repeat(2, 36vw);

        }

        &__title {
            font-size: 1.4vw;
        }
    }
    // End inner
}
// End XL

@include media-XXL {
    .product-page {
        padding-bottom: 5.2vw;

        &__container {
            // gap:  0 1.25vw;
            grid-template-columns: 27vw 36vw;
        }

        &__title {
            font-size: 1.1vw;
        }
    }
    // End inner
}
// End XXL