.related {
    &__title {
        margin-bottom: 5.56vw;
    }
}
// End inner

@include media-M {
    .related {
        &__title {
            margin-bottom: 3.12vw;
        }
    }
    // End inner    
}
// End M

@include media-L {
    .related {
        &__title {
            margin-bottom: 2.08vw;
        }
    }
    // End inner    
}
// End L

@include media-XL {
    .related {
        &__title {
            margin-bottom: 1.4vw;
        }
    }
    // End inner    
}
// End XL