footer.footer 
    .container.footer__container 
        .footer__block 
            p.footer__subtitle Допомога покупцеві
            .footer__menu 
                ul 
                    li
                        a(href="/") Умови доставки
                    li
                        a(href="/") Про компанію
                    li
                        a(href="/") Каталог товарів
                    li
                        a(href="/") FAQ
        .footer__block
            p.footer__subtitle Контакти
            p.footer__time 9:00-19:00 Пн-Нд
            a(href="tel:0942578644").footer__tel 0942578644
            .footer__socials 
                a.btn.btn--icon.footer__social(href="http://", target="_blank", rel="noopener noreferrer") 
                    +icon('instagram')
                a.btn.btn--icon.footer__social(href="http://", target="_blank", rel="noopener noreferrer") 
                    +icon('telegram')
    //- container 
    .container 
        p.footer__copyright &#169; 2024 Irman
    //- copyright
//- footer