.backdrop {
    position: fixed;
    @include push-full;
    background-color: rgba(#929292, .35);
    z-index: 2;
    transition: var(--transition);

    &__inner {
        position: absolute;
    }

    @include el-hide;
    pointer-events: none;

    .cart {
        transform: translateX(20%);
    }

    &.active {
        @include el-show;
        pointer-events: all;

        .cart {
            transform: translateX(0%);
        }
    }
}
// End inner