.checkout-group {
    display: flex;
    flex-direction: column;
    gap: 6.67vw;

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 8.9vw;
    }

    &__title {
        margin-bottom: -2.22vw;
        font-size: 6.11vw;
    }
}
// End inner

@include media-M {
    .checkout-group {
        gap: 3.75vw;

        &__wrapper {
            gap: 5vw;
        }
    
        &__title {
            margin-bottom: -1.25vw;
            font-size: 3.44vw;
        }
    }
    // End inner
}
// End M

@include media-L {
    .checkout-group {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.67vw;

        &__wrapper {
           gap: 2.22vw;
        }
    
        &__title {
            grid-column: span 2;
            margin-bottom: 0;
            font-size: 2.5vw;
        }
    }
    // End inner
}
// End L

@include media-XL {
    .checkout-group {
    
        &__title {
            font-size: 1.67vw;
        }
    }
    // End inner
}
// End XL

@include media-XXL {
    .checkout-group {
        gap: 1.25vw;

        &__wrapper {
            gap: 1.67vw;
        }

        &__title {
            font-size: 1.25vw;
        }
    }
    // End inner
}
// End XXL