.checkout-form {
    display: flex;
    flex-direction: column;
    gap: 8.9vw;

    &__btn {
        width: 100%;
        font-weight: 500;
        line-height: 1.22;
        padding: 4.17vw;
        font-size: 5vw;
    }
}
// End inner

@include media-M {
    .checkout-form {
        gap: 5vw;

        &__btn {
            font-size: 2.8vw;
            padding: 2.34vw;
        }
    }
    // End inner
}
// End M

@include media-L {
    .checkout-form {
        gap: 2.22vw;

        &__btn {
            font-size: 1.88vw;
            padding: 1.56vw 2.92vw;
            width: max-content;
        }
    }
    // End inner
}
// End L

@include media-XL {
    .checkout-form {
        // gap: 2.22vw;

        &__btn {
            font-size: 1.25vw;
            padding: 1vw 1.94vw;
        }
    }
    // End inner
}
// End XL

@include media-XXL {
    .checkout-form {
        gap: 1.67vw;

        &__btn {
            font-size: .94vw;
            padding: .78vw 1.46vw;
        }
    }
    // End inner
}
// End XXL