.picture--br {
    overflow: hidden;
    
    &_tr {
        border-top-right-radius: 3.2rem;
    }

    &_tl {
        border-top-left-radius: 3.2rem;
    }

    &_br {
        border-bottom-right-radius: 3.2rem;
    }

    &_bl {
        border-bottom-left-radius: 3.2rem;
    }
}
// End border radius 