.product-profile {

    &__status {
        line-height: 1.21;
        color: var(--color_grey);
        margin: 0;

        &--pos {
            color: var(--color_green);
        }
    }

    &__price {
        margin-block: 4.44vw 6.67vw;
        font-weight: 500;
        line-height: 1.2;
        font-size: 5.56vw;
    }

    &__cart-btn {
        width: 100%;
        line-height: 1.2;
        font-size: 5vw;
        padding: 3.6vw;
    }

    &__content {
        margin-top: 8.9vw;
        display: flex;
        flex-direction: column;
        gap: 6.67vw;
    }

    &__subtitle {
        font-style: italic;
        font-weight: 500;
        font-size: 4.44vw;
        margin-block: 0 3.33vw;
    }

    &__descr {
        p {
            margin: 0;
        }

        ul {
            padding-left: 5.56vw;
        }

        li {
            position: relative;

            &::before {
                @include pseudo;
                @include push--middle;
                left: -2.8vw;
                @include square(.56vw);
                background-color: var(--color_black);
                border-radius: 50%;
            }
        }
    }

    &__char {
        display: grid;
        grid-template-columns: 60% 35%;
        align-items: center;
        gap: 3.33vw;
        
        &-name {
            font-weight: 500;
        }

        &:not(:last-child) {
            margin-bottom: 2.22vw;
        }
    }
}
// End inner

@include media-M {
    .product-profile {
        &__price {
            margin-block: 2.5vw 3.75vw;
            font-size: 3.12vw;
        }
    
        &__cart-btn {
            padding: 2vw;
            font-size: 2.8vw;
        }
    
        &__content {
            margin-top: 5vw;
            gap: 3.75vw;
        }

    
        &__subtitle {
            margin-bottom: 1.88vw;
            font-size: 2.5vw;
        }
    
        &__descr {
    
            ul {
                padding-left: 3.12vw;
            }

            li::before {
                left: -1.56vw;
                @include square(.31vw);
            }
        }
    
        &__char {
            gap: 1.9vw;

            &:not(:last-child) {
                margin-bottom: 1.25vw;
            }
        }
    }
    // End inner
}
// End M


@include media-L {
    .product-profile {

        &__status {
            margin-top: 3.33vw;
        }
    
        &__price {
            font-size: 2.08vw;
            margin-block: 4.17vw 2.5vw;
        }
    
        &__cart-btn {
            width: max-content;
            padding: 1.25vw 6.5vw;
            font-size: 1.9vw;
        }
    
        &__content {
            margin-top: 7.2vw;
            gap: 3.33vw;
        }
    
        &__subtitle {
            font-size: 1.67vw;
            margin-bottom: 1.25vw;
        }
    
        &__descr {
            ul {
                padding-left: 2.08vw;
            }

            li::before {
                left: -1vw;
                @include square(.21vw);
            }
        }
    
        &__char {
            grid-template-columns: 50% 50%;
            gap: 1.25vw;

            &:not(:last-child) {
                margin-bottom: .83vw;
            }
        }
    }
    // End inner
}
// End L

@include media-XL {
    .product-profile {

        &__status {
            margin-top: 2.22vw;
        }
    
        &__price {
            font-size: 1.4vw;
            margin-block: 2.8vw 1.67vw;
        }
    
        &__cart-btn {
            padding: .9vw 4.34vw;
            font-size: 1.25vw;
        }
    
        &__content {
            margin-top: 4.8vw;
            gap: 2.22vw;
        }
    
        &__subtitle {
            font-size: 1.11vw;
            margin-bottom: 0.83vw;
        }
    
        &__descr {
            ul {
                padding-left: 1.4vw;
            }

            li::before {
                left: -.7vw;
                @include square(.14vw);
            }
        }
    
        &__char {
            gap: .83vw;

            &:not(:last-child) {
                margin-bottom: .56vw;
            }
        }
    }
    // End inner
}
// End XL

@include media-XXL {
    .product-profile {
        font-size: .8vw;

        &__status {
            margin-top: 1.67vw;
        }
    
        &__price {
            // font-size: 1vw;
            font-size: 1.1vw;
            margin-block: 2.08vw 1.25vw;
        }
    
        &__cart-btn {
            padding: .68vw 3.26vw;
            font-size: .94vw;
        }
    
        &__content {
            margin-top: 3.6vw;
            gap: 1.67vw;
        }
    
        &__subtitle {
            // font-size: .83vw;
            font-size: .9vw;
            margin-bottom: 0.62vw;
        }
    
        &__descr {
            ul {
                padding-left: 1vw;
            }

            li::before {
                left: -.52vw;
                @include square(.1vw);
            }
        }

        &__char {
            gap: .83vw;

            &:not(:last-child) {
                margin-bottom: .42vw;
            }
        }
    }
    // End inner
}
// End XXL