.social-icon {
    @include square(8.9vw);

    svg {
        @include square(100%);
    }

    &--fill {
        svg {
            fill: var(--color_black);
        }

        &:hover {
            svg {
                fill: var(--color_accent);
            }
        }

    }

    &--stroke {
        svg {
            stroke: var(--color_black);
        }

        &:hover {
            svg {
                stroke: var(--color_accent);
            }
        }
    }
}
// End inner

@include media-M {
    .social-icon {
        @include square(5vw);
    }
    // End inner
}
// End M

@include media-L {
    .social-icon {
        @include square(2.5vw);
    }
    // End inner
}
// End L

@include media-XL {
    .social-icon {
        @include square(1.67vw);
    }
    // End inner
}
// End XL

// @include media-XXL {
//     .social-icon {
//         @include square(1.25vw);
//     }
//     // End inner
// }
// // End XXL